body {
    font-size: 16px;
    color: #fff;
    background-color: #580a27;
    font-family: "Oxygen", sans-serif;
}
/* Header */
#header-nav {
    background-color: #f5e58c;
    border-radius: 0;
    border: 0;
}
.navbar-foodtruck {
    padding-top: 15px;

}
.navbar-right {
    float: right;
}
.navbar-foodtruck H1 {
    font-family: serif;
    color: #27b19a;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: .75;
}
.navbar-foodtruck a:hover, .navbar-foodtruck a:focus {
    text-decoration: none;
}
.navbar-foodtruck p span {
    vertical-align: middle;
}

#nav-list {
    margin-top: 10px;
    text-align: center;
  }
  #nav-list a {
    color: #951C49;
    
  }
  #nav-list a:hover {
    background: #E7E7E7;
  }
  #nav-list a span {
    font-size: 1.8em;
  }
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #61122f;
  }
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }  

  /* End of Header */
  .page-content {
    background-color: #580a27;
    height: 1000px;
  }
  .menu-item {
      background-color: #f1b050;
      padding: 15px;
      margin: 10px, 10px, 10px, 10px; 
  }

/* Device Sizing */
/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  #nav-list {
      width: 100%;
      background-color: #f1b050;
  }